html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

* {
  color: #fff;
  box-sizing: border-box;
}
